* {
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
}

#container {
    background-color: black;
    position: fixed;
    top: 5%;
    left: 35%;
    width: 375px;
    height: 630px;
    font-family:Arial, Helvetica, sans-serif ;
    padding: 25px;
}
.result1 {  
   
    height: 60px;
    color: white;
    font-size: 3rem;
    text-align: right;
    padding-right: 5px;
}

.result2 {
   
    height: 100px;
    color: white;
    font-size: 6rem;
    text-align: right;
    margin-bottom: 20px;
    padding-right: 5px;
}
    
button {
    text-align: center;
    color: white;
    background-color: rgb(156, 156, 156);
    margin: 5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    padding: 1.1;
    font-size: 2.2rem;
    border: none;
}
button:hover{opacity: 0.5;

}
.button{
    background-color: rgb(80, 80, 80);
}

.double {
    width: 175px;
    border-radius: 40px;
    text-align: left;
    padding-left: 25px;
}

.operator {
    background-color: orange;
    font-size: 2.1rem;
    
}

.grey {
    color: black;
}